#initial-page {
  height: 50vh;
  display: flex;
  align-items: center;
}

#initial-page>div {
  background-color: #93B4D7;
  padding: 2rem;
  width: 500px;
}

label {
  margin-top: 20px;
}

button {
  margin-top: 20px;
}