.active {
  background-color: #162440;
}

nav {
  display: flex;
  align-items: center;
  background-color: #2C406E;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #FFF;
  padding: 1.5rem;
  display: block;
}

nav ul li a:not(.active):hover {
  background-color: #93B4D7;
}